body {
	background-color: #f0f0f0;
	margin: 0;
	padding-top:0;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

canvas {
	display: block;
	width: 700px;
	height: 450px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	text-align:center
}
